<!--The 'step_code' value from the .js file should be used-->
<li id="customer_note" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Customer Note'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">

        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <fieldset class="fieldset">
                <legend data-bind="i18n: 'Custommer Note Form'"></legend>
                <!-- ko foreach: getRegion('customer-note-form-fields') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
