<!-- Use 'stepCode' as id attribute was get from js file -->
<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <!-- title of custom step value was get from js file -->
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
    <!-- form container -->
    <div id="checkout-step-title" class="step-content" data-role="content">
        <form data-bind="submit: navigateToNextStep" id="delivery-checkout-form" class="form">
            <div class="field" name="delivery.date">
                <label class="label" for="date">Delivery date</label>
                <div class="control">
                    <input class="input-text" type="date" name="date" id="date">
                </div>
            </div>
            <div class="field" name="delivery.note">
                <label class="label" for="comment">Delivery comment</label>
                <div class="control">
                    <textarea id="delivery-comment" name="comment"></textarea>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span>
                            <!-- ko i18n: 'Next'-->
                            <!-- /ko -->
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>